.chatting {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50rem;
  width: max-content;
  z-index: 3000;
}

.chatbot {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
